@import url("https://fonts.googleapis.com/css?family=Montserrat");
:root {
  --primary-color: #24292e;
  --secondary-color: #61D9FB;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 7rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-link a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar .nav-link a:hover {
  color: var(--secondary-color);
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alert .delete {
  cursor: pointer;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

input {
  margin: 1.2rem 0;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  outline: none;
  font-size: 1rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-margin {
  margin: 1rem 0;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin: 1rem 0;
}

.btn-dark {
  background: var(--primary-color);
  color: #fff;
}

.btn-light {
  background: var(--light-color);
  color: #333;
}

.btn:hover {
  color: var(--secondary-color);
}

.card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.7rem 0;
  text-align: center;
}

.card .round-img {
  width: 60px;
  border-radius: 50%;
}

.card.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.card-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card-info {
  text-align: left;
}

.users {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.badge {
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  margin: 0.3rem;
  border-radius: 5px;
}

.badge-primary {
  background: var(--primary-color);
}

.badge-secondary {
  background: var(--secondary-color);
}

.badge-light {
  background: var(--light-color);
  color: #333;
  border: 1px solid #ccc;
}

.badge-dark {
  background: var(--dark-color);
}

.repo {
  text-align: left;
}
/*# sourceMappingURL=App.css.map */